body {
    background-color: black !important;
    color: white !important;
    text-align :center;
}

.highlight {
    background-color: yellow;
    font-weight: bold;
    color: black !important;
    }

.hidden{
    display: none !important;
}


ul li{
    list-style: none;
}

h2, h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}